ff-parent/ff-web-admin/src/main/resources/sova.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI IBM 2.2.1-11/28/2011 08:28 AM(foreman)-. --><definitions name="SOVAserviceControllerService" targetNamespace="http://controller.web.SOVAServices.zaba.hr/" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://controller.web.SOVAServices.zaba.hr/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://controller.web.SOVAServices.zaba.hr/" schemaLocation="sova.xsd"/>
    </xsd:schema>
  </types>
  <message name="wSKorisnikAutorizacija">
    <part element="tns:wSKorisnikAutorizacija" name="parameters"/>
  </message>
  <message name="wSKorisnikAutorizacijaResponse">
    <part element="tns:wSKorisnikAutorizacijaResponse" name="parameters"/>
  </message>
  <message name="wSKorisnikPOSifra">
    <part element="tns:wSKorisnikPOSifra" name="parameters"/>
  </message>
  <message name="wSKorisnikPOSifraResponse">
    <part element="tns:wSKorisnikPOSifraResponse" name="parameters"/>
  </message>
  <message name="wSKorisnikAplikacija">
    <part element="tns:wSKorisnikAplikacija" name="parameters"/>
  </message>
  <message name="wSKorisnikAplikacijaResponse">
    <part element="tns:wSKorisnikAplikacijaResponse" name="parameters"/>
  </message>
  <message name="getTest">
    <part element="tns:getTest" name="parameters"/>
  </message>
  <message name="getTestResponse">
    <part element="tns:getTestResponse" name="parameters"/>
  </message>
  <message name="wSFunkcijaPO">
    <part element="tns:wSFunkcijaPO" name="parameters"/>
  </message>
  <message name="wSFunkcijaPOResponse">
    <part element="tns:wSFunkcijaPOResponse" name="parameters"/>
  </message>
  <message name="wsAplikativneAkcije">
    <part element="tns:wsAplikativneAkcije" name="parameters"/>
  </message>
  <message name="wsAplikativneAkcijeResponse">
    <part element="tns:wsAplikativneAkcijeResponse" name="parameters"/>
  </message>
  <message name="wsAplikativneAkcijePO">
    <part element="tns:wsAplikativneAkcijePO" name="parameters"/>
  </message>
  <message name="wsAplikativneAkcijePOResponse">
    <part element="tns:wsAplikativneAkcijePOResponse" name="parameters"/>
  </message>
  <message name="wsKorisnikAutorizacijaPO">
    <part element="tns:wsKorisnikAutorizacijaPO" name="parameters"/>
  </message>
  <message name="wsKorisnikAutorizacijaPOResponse">
    <part element="tns:wsKorisnikAutorizacijaPOResponse" name="parameters"/>
  </message>
  <portType name="SOVAserviceControllerDelegate">
    <operation name="wSKorisnikAutorizacija">
      <input message="tns:wSKorisnikAutorizacija" wsam:Action="http://controller.web.SOVAServices.zaba.hr/SOVAserviceControllerDelegate/wSKorisnikAutorizacijaRequest"/>
      <output message="tns:wSKorisnikAutorizacijaResponse" wsam:Action="http://controller.web.SOVAServices.zaba.hr/SOVAserviceControllerDelegate/wSKorisnikAutorizacijaResponse"/>
    </operation>
    <operation name="wSKorisnikPOSifra">
      <input message="tns:wSKorisnikPOSifra" wsam:Action="http://controller.web.SOVAServices.zaba.hr/SOVAserviceControllerDelegate/wSKorisnikPOSifraRequest"/>
      <output message="tns:wSKorisnikPOSifraResponse" wsam:Action="http://controller.web.SOVAServices.zaba.hr/SOVAserviceControllerDelegate/wSKorisnikPOSifraResponse"/>
    </operation>
    <operation name="wSKorisnikAplikacija">
      <input message="tns:wSKorisnikAplikacija" wsam:Action="http://controller.web.SOVAServices.zaba.hr/SOVAserviceControllerDelegate/wSKorisnikAplikacijaRequest"/>
      <output message="tns:wSKorisnikAplikacijaResponse" wsam:Action="http://controller.web.SOVAServices.zaba.hr/SOVAserviceControllerDelegate/wSKorisnikAplikacijaResponse"/>
    </operation>
    <operation name="getTest">
      <input message="tns:getTest" wsam:Action="http://controller.web.SOVAServices.zaba.hr/SOVAserviceControllerDelegate/getTestRequest"/>
      <output message="tns:getTestResponse" wsam:Action="http://controller.web.SOVAServices.zaba.hr/SOVAserviceControllerDelegate/getTestResponse"/>
    </operation>
    <operation name="wSFunkcijaPO">
      <input message="tns:wSFunkcijaPO" wsam:Action="http://controller.web.SOVAServices.zaba.hr/SOVAserviceControllerDelegate/wSFunkcijaPORequest"/>
      <output message="tns:wSFunkcijaPOResponse" wsam:Action="http://controller.web.SOVAServices.zaba.hr/SOVAserviceControllerDelegate/wSFunkcijaPOResponse"/>
    </operation>
    <operation name="wsAplikativneAkcije">
      <input message="tns:wsAplikativneAkcije" wsam:Action="http://controller.web.SOVAServices.zaba.hr/SOVAserviceControllerDelegate/wsAplikativneAkcijeRequest"/>
      <output message="tns:wsAplikativneAkcijeResponse" wsam:Action="http://controller.web.SOVAServices.zaba.hr/SOVAserviceControllerDelegate/wsAplikativneAkcijeResponse"/>
    </operation>
    <operation name="wsAplikativneAkcijePO">
      <input message="tns:wsAplikativneAkcijePO" wsam:Action="http://controller.web.SOVAServices.zaba.hr/SOVAserviceControllerDelegate/wsAplikativneAkcijePORequest"/>
      <output message="tns:wsAplikativneAkcijePOResponse" wsam:Action="http://controller.web.SOVAServices.zaba.hr/SOVAserviceControllerDelegate/wsAplikativneAkcijePOResponse"/>
    </operation>
    <operation name="wsKorisnikAutorizacijaPO">
      <input message="tns:wsKorisnikAutorizacijaPO" wsam:Action="http://controller.web.SOVAServices.zaba.hr/SOVAserviceControllerDelegate/wsKorisnikAutorizacijaPORequest"/>
      <output message="tns:wsKorisnikAutorizacijaPOResponse" wsam:Action="http://controller.web.SOVAServices.zaba.hr/SOVAserviceControllerDelegate/wsKorisnikAutorizacijaPOResponse"/>
    </operation>
  </portType>
  <binding name="SOVAserviceControllerPortBinding" type="tns:SOVAserviceControllerDelegate">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="wSKorisnikAutorizacija">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="wSKorisnikPOSifra">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="wSKorisnikAplikacija">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getTest">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="wSFunkcijaPO">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="wsAplikativneAkcije">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="wsAplikativneAkcijePO">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="wsKorisnikAutorizacijaPO">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="SOVAserviceControllerService">
    <port binding="tns:SOVAserviceControllerPortBinding" name="SOVAserviceControllerPort">
      <soap:address location="http://wastest2:9283/SOVAServices/SOVAserviceControllerService"/>
    </port>
  </service>
</definitions>